<li class="product">
  <a href="/product/{{ item.node.handle }}">
    <div class="frame">
      <img class="prodimg" src="{{item.node.images.edges[0].node.src }}" alt="{{ item.node.images.edges[0].node.alt }}"" />
    </div>
    <h2>{{ item.node.title }}</h2>
    <p>{{ item.node.description | truncate(60) }}</p>
  </a>
</li>


