<div class="product_summary">
  <h1 href="/product/{{ item.node.handle }}">{{ item.node.title }}</h1>
  <p>{{ item.node.description }}</p>
  <img src="{{item.node.images.edges[0].node.src }}" alt="{{ item.node.images.edges[0].node.alt }}">
  
  <form action="/api/add-to-cart/" method="POST">
    {% for variant in item.node.variants.edges %}
    <input type="radio" id="{{ variant.node.id }}" name="merchandiseId" value="{{ variant.node.id }}" checked><label for="{{ variant.node.id }}">{{ variant.node.title }} - {{ variant.node.priceV2.currencyCode }} {{ variant.node.priceV2.amount }}</label>
    {% endfor %}
    <input type="number" name="quantity" value="1" />
    <input type="hidden" name="cartId" value="" />
    <input type="submit" value="Add to basket">
  </form>

</div>
