<div class="product-page">
  <article>
    <section class="product-page-content">
      <div><img
          src="{{ item.node.images.edges[0].node.src }}"
          class="product-page-image"></div>
      <div>
        <h1>{{ item.node.title }}</h1>
        <p>{{ item.node.description }}</p>
        <form class="addToCart">
          <input type="hidden" name="cartId" value="" />
          <div class="product-page-price-list">
            {% if (item.node.variants.edges.length > 1) %}
            {% for variant in item.node.variants.edges %}
            <div class="product-page-price">
              <input
                id="{{ variant.node.id }}" type="radio" name="merchandiseId"
                value="{{ variant.node.id }}"><label
                for="{{ variant.node.id }}">
                {{ variant.node.title }} - {{ variant.node.priceV2.amount }} {{ variant.node.priceV2.currencyCode }}
                <span></span>
              </label>
            </div>
            {% endfor %}
            {% else %}
              {{ item.node.variants.edges[0].node.priceV2.currencyCode }} {{ item.node.variants.edges[0].node.priceV2.amount }}
              <input type="hidden" name="merchandiseId" value="{{ item.node.variants.edges[0].node.id }}" >
            {% endif %}
            
            <div class="product-page-quantity-row">
              <input type="number" name="quantity" value="1" min="0" max="10" class="product-page-quantity-input">
              <button type="submit" class="button purchase">Add to Cart</button>
            </div>
        </form>
      </div>
    </section>
  </article>
</div>

