<div class="product_summary">
  <h1 href="/product/{{ item.node.handle }}">{{ item.node.title }}</h1>
  <p>{{ item.node.description }}</p>
  <img src="{{item.node.images.edges[0].node.src }}" alt="{{ item.node.images.edges[0].node.alt }}">
  

  <form action="/api/add/" method="POST">
    <select>
    {% for variant in item.node.variants.edges %}
      <option name="variant" value="{{ variant.node.id }}">{{ variant.node.title }} — {{ variant.node.priceV2.currencyCode }} {{ variant.node.priceV2.amount }}</option>
    {% endfor %}
    </select>
    <input type="number" name="quantity" value="1" />
    <!-- <input type="text" name="checkoutId" value="1" /> -->
    <input type="submit" value="Add to basket">
  </form>
</div>
