<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
  <title>{{ title }}</title>
</head>
<body>

  <main>
    <header>
      <h1>Shoperoni</h1>
      <h2>Shop for literally the best products in the world, right here.</h2>
    </header>
  
    <a href="/cart" class="cart cartLink">Shopping Cart</a>
    {{ content | safe }}
 
  </main>
  <script src="/js/shopping-ui.js"></script>
</body>
</html>
