<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <ul class="nav">
      <li>Browse the store</li>
      <li>View your cart</li>
      <li>Checkout</li>
    </ul>
  </header>
  <div class="container">
    {{ content | safe }}
  </div>
</body>
</html>
