@import '_mixins';
@import '_variables';


html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: $primary-text-color;
  font-family: Georgia, serif;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;
  background-color: $primary-page-color;
  padding: 2rem;
  border-top: 3px solid $secondary-text-color;

  @include bp(mid) {
    border-top-color: $accent-color;
    font-size: 16px;
  }
  @include bp(wide) {
    border-top-color: $accent-color-alternate;
    font-size: 18px;
  }
}

.container {
  max-width: 90%;
  margin:0 auto;

  @include bp(mid) {
    max-width: 700px;
  }
  @include bp(wide) {
    max-width: 1000px;
  }
}

ul {
  margin: 1rem auto;
  text-align: left;
}


.product_summary {
  margin-bottom: 4rem;
  img {
    width: 400px;
  }
}