---
pagination:
  data: products
  alias: item
  size: 1
permalink: "/product/{{ item.node.handle | slug }}/index.html"
layout: layouts/base.njk
---
<a class="home" href="/">Go back</a>
{% include "product_detail.njk" %}
